# common
node_modules
**.*.zip
**.*.tar
**.*.tar.gz
.DS_Store

# turborepo 
.cache
.turbo

# pnpm 
pnpm-debug.log*

# umi
.umi
.umi-production
.umi-test

# dumi
.dumi

# ci
ci

# env
.env.local

# dist
*/dist
dist
es 
lib
